.sideMenu {
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 20px;
  bottom: 20px;
  background-color: rgba(108, 208, 29, 1);
  overflow-x: hidden;
  padding-top: 20px;
  border-radius: 18px;
}
.menuHeader h2 {
  margin-left: 20px;
}
.menuHeader {
  border-bottom: 1px solid gray;
}
.classList {
  height: 80%;
  overflow-y: auto;
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
}
.classList ul {
  list-style-type: none;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
}
.classElement {
  background-color: rgba(78, 51, 0, 1);
  border-radius: 18px;
  margin: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.innerClassElement {
  margin: 20px;
}
.userCard {
  border-radius: 18px;
  background-color: white;
  width: 80%;
  height: 72px;
  margin-left: 20px;
  font-size: smaller;
}
.profileText {
  margin: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.classLink {
  text-decoration: none;
  color: white;
}
.classLink li {
  z-index: 1;
  transition: 400ms;
}
.classLink:hover li {
  color: grey;
  transform: translateX(5px);
}
.status {
  display: inline-block;
  height: 15px;
  width: 15px;
  border: 1px solid black;
  border-radius: 100%;
  padding: 0;
}
.occupied {
  background-color: red;
}
.free {
  background-color: green;
}
.profileText a {
  text-align: end;
}
.content {
  margin-left: 250px;
}
